#THEORETICAL QUESTIONS
1-What are data structures, and why are they important?
 - Data structure is like an organizer or container that holds and organize information in a specific arrangement, which in turn defines the relationship among data elements and the operations that can be performed on them.
 - Data structure is important because they are essential for efficient data management, better memory utilization, simplified problem solving, improved scalability and enhances problem solving skills.

 2-  Explain the difference between mutable and immutable data types with examples?
 - Mutuable data types can be changed or modified after it has been created. When a mutuable object is altered its memory address remains the same. This means that if two variables point to the same mutuable object any changes made through one variable will be visible through the other.
 EXAMPLE :

In [ ]:
#Create a list
my_list=[1,2,3]
print(f"Original list: {my_list}")
print(f"Memory address (ID) of my_list: {id(my_list)}")
#Modify the list in-place
my_list.append(4)
print(f"List after appending: {my_list}")
print(f"Memory addresss (ID) of my_list : {id(my_list)}") #the memory address will remail the same

Original list: [1, 2, 3]
Memory address (ID) of my_list: 132581015284736
List after appending: [1, 2, 3, 4]
Memory addresss (ID) of my_list : 132581015284736

- Immutable data types cannot be changes or modifies after it has been created. Any operations that appears to modify an immutable object such as adding to it actually creates a new objects and a new memory address. EXAMPLE:

In [ ]:
#create a tuple
my_tuple=(1,2,3)
print(f"Original tuple: {my_tuple}")
print(f"Memory address (ID) of my_tuple : {id(my_tuple)}")
#attempt to modify the tuple by concatination
new_tuple= my_tuple + (4,)
print(f"Tuple after modification : {new_tuple}")
print(f"Memory adress (ID) of new_tuple : {id(new_tuple)}")

Original tuple: (1, 2, 3)
Memory address (ID) of my_tuple : 132580791884864
Tuple after modification : (1, 2, 3, 4)
Memory adress (ID) of new_tuple : 132581014850672

3-What are the main differences between lists and tuples in Python?
- The main differences between Python lists and tuples are their mutability, syntax, performance, and use cases. Lists are mutable, meaning they can be changed after they are created, while tuples are immutable, meaning they cannot be modified.

4-Describe how dictionaries store data?
- A dictionary stores data as key-value pairs using a highly optimized hash table. This internal structure is responsible for the dictionary's speed, allowing for constant-time (O(1)) lookups, insertions, and deletions on average.
- A dictionary maps unique, immutable keys to values. The hashing process :
 - Hashing the key: When you add a key-value pair, Python takes the key and passes it through a special function called a hash function. This function calculates an integer value, or "hash," for the key.
- Mapping to an index : The hash value is then mapped to an index within an internal array. This array is where Python stores the entries.
- Storing the data : Each entry in the array holds a record of the hash, key, and value.
- Retrieval: To look up a value, Python repeats the process: it hashes the key, finds the correct index in the internal array, and retrieves the corresponding value. Because it can jump directly to the right spot, the average lookup time is constant, or \(O(1)\).

5-Why might you use a set instead of a list in Python ?
- So basically i use a set when i need a collection of unique items and require fast membership testing or mathematical set operations, and when the order of elements is not important and Use a list when i need an ordered collection that can contain duplicate items and where element access by index is frequent.

6-What is a string in Python, and how is it different from a list?
- In Python, a string is an immutable, ordered sequence of characters, while a list is a mutable, ordered sequence that can hold items of different data types. Both are fundamental data structures, but their differing nature (specifically, mutability) makes them suitable for different tasks.

7-How do tuples ensure data integrity in Python?
- Tuples ensure data integrity because they are immutable, meaning their contents cannot be changed after creation. This prevents accidental or unintended modifications, ensuring that the data stored in a tuple remains constant and reliable throughout a program's execution.
Key points :
- Protection against change: Any attempt to modify, add, or remove an element from a tuple will raise a TypeError, safeguarding the data.
- Predictable and reliable: Because the contents are guaranteed not to change, tuples make code more predictable and easier to debug.
- Thread-safe: In multi-threaded programs, immutable tuples are inherently safe because multiple threads can access them without the risk of data corruption.
- Enable dictionary keys: Their immutability allows them to be used as keys in dictionaries, which require hashable (unchangeable) objects.

8-What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that implements an associative array, also known as a dictionary or map. It stores data in key-value pairs, where each key is mapped to a specific memory location (or index in an array) using a hash function. This hash function takes the key as input and produces an integer value (the hash code), which is then used to determine the storage location of the corresponding value. The primary advantage of hash tables is their ability to provide very fast average-case time complexity for operations like insertion, deletion, and lookup (O(1)).
- Python's built-in dictionaries (dict) are implemented using hash tables. When you create a dictionary and add key-value pairs, Python internally uses a hash table to store and retrieve this data efficiently.

9-Can lists contain different data types in Python?
- Yes, lists in Python can contain different data types. This is a key feature of Python lists, making them highly versatile for storing collections of diverse data.
- For example, a single Python list can contain integers, strings, floats, booleans, and even other lists or complex objects like dictionaries.

10-Explain why strings are immutable in Python?
- In Python, strings are immutable. This means that once a string object is created, its contents cannot be changed. Operations that appear to modify a string, such as concatenation or replacement, create and return a new string object, while the original remains unchanged. This design offers advantages for memory management, performance, and security.

11-What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer a significant advantage over lists by providing much faster data retrieval through unique keys, enabling constant-time O(1) lookups on average, which is ideal for large datasets or when data needs to be found based on a specific identifier rather than a position. Dictionaries are also better for associating related pieces of data through key-value pairs, making code more readable for certain tasks compared to storing pairs within a list.

12-Describe a scenario where using a tuple would be preferable over a list?
- A scenario where using a tuple would be preferable over a list is when representing data that should remain constant and unchanged throughout the program's execution, such as geographic coordinates or RGB color values.
- Consider a program that needs to store and process a collection of fixed geographical locations, each represented by a latitude and longitude.

In [ ]:
user = (101, "Alice", "Smith")


try:
    user[1] = "Alicia"
except TypeError as e:
    print(e)

'tuple' object does not support item assignment

13-How do sets handle duplicate values in Python?
- Python set objects are inherently designed to store only unique elements. They do not allow duplicate values. When you attempt to add a duplicate value to a set, the set simply ignores the addition; it does not raise an error, nor does it store the duplicate. The element already present in the set remains, and the new, identical element is not added.
- This behavior is a core characteristic of sets and is what makes them useful for operations like removing duplicates from a list or performing mathematical set operations such as union, intersection, and difference, where uniqueness of elements is fundamental.

14- How does the “in” keyword work differently for lists and dictionaries?
- The in keyword in Python functions differently when used with lists and dictionaries due to their underlying data structures and how they store and retrieve data.
Lists:
- When in is used with a list, it checks for the presence of a specific element within the list.
- This check involves a linear search, meaning Python iterates through each item in the list sequentially until a match is found or the end of the list is reached.
- The time complexity of this operation is O(n) in the worst case, where 'n' is the number of elements in the list.
- EXAMPLE :

In [ ]:
my_list = [10, 20, 30, 40, 50]
print(20 in my_list)
print(60 in my_list)

True
False

Dictionaries:
- When in is used with a dictionary, it checks for the presence of a specific key within the dictionary. It does not directly check for values.
Dictionaries are implemented using hash tables, which allow for very efficient lookups.
- When checking for a key, Python hashes the key and uses the resulting hash value to quickly locate the corresponding bucket in the hash table.
The time complexity of this operation is, on average, O(1) (constant time), making it significantly faster than list lookups for large collections.
- EXAMPLE :

In [ ]:
my_dict = {"apple": 1, "banana": 2, "cherry": 3}
print("banana" in my_dict)
print(1 in my_dict)
print("grape" in my_dict)

True
False
False

15-Can you modify the elements of a tuple? Explain why or why not?
- No, the elements of a tuple cannot be modified directly after its creation. This is because tuples are immutable data structures in Python.
Explanation:
- Immutability: Immutability means that once a tuple is defined and its elements are set, its contents cannot be changed, added, or removed. Attempting to modify an element directly, like my_tuple[0] = new_value, will result in a TypeError.
- Contrast with Lists: This immutability is a key distinction between tuples and lists. Lists are mutable, meaning their elements can be modified, added, or removed after creation.
- Workaround: While you cannot directly modify a tuple, you can achieve a similar outcome by creating a new tuple with the desired changes. A common method involves converting the tuple to a list, performing the modifications on the list, and then converting the list back into a new tuple.

16-What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary where the values associated with some keys are themselves other dictionaries. This structure allows for the representation of hierarchical or complex data, similar to how records or structs are used in other programming languages.
Example of its use case:
- Consider storing information about multiple employees, where each employee has various attributes like name, age, and department, and the department itself has a manager. A nested dictionary can effectively model this:

In [ ]:
employees = {
    "employee_id_1": {
        "name": "Alice Smith",
        "age": 30,
        "department": {
            "name": "Human Resources",
            "manager": "Bob Johnson"
        }
    },
    "employee_id_2": {
        "name": "Charlie Brown",
        "age": 25,
        "department": {
            "name": "Engineering",
            "manager": "Diana Prince"
        }
    }
}
print(employees["employee_id_1"]["name"])
print(employees["employee_id_2"]["department"]["manager"])

Alice Smith
Diana Prince

17-Describe the time complexity of accessing elements in a dictionary?
- For dictionaries, the average time complexity for accessing an element is O(1) (constant time). This is because dictionaries are implemented using a hash table, which allows for a direct, very fast lookup of a key's memory location.In the worst-case scenario, the time complexity can become O(n) (linear time), where \(n\) is the number of elements. This happens when many keys have a "hash collision," meaning they are directed to the same memory location, forcing the dictionary to search through a list of stored elements. However, this is very rare with good hash functions.

18-In what situations are lists preferred over dictionaries?
- Lists are generally preferred over dictionaries in situations where the data's order is important, when sequential processing is needed, or when the dataset is simple and access is primarily by index. While dictionaries are faster for key-based lookups, lists excel in other areas.

19-Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are considered "unordered" because they do not guarantee a specific, predictable sequence for their elements, and instead, they are optimized for fast retrieval of values based on their associated keys, not their position.
- This fundamental characteristic means that data retrieval relies entirely on key-based access; you must know the key to find its value. This contrasts with ordered collections like lists, where elements can be accessed by their numerical index.

20-Explain the difference between a list and a dictionary in terms of data retrieval?
- Lists (Indexed Retrieval):
Lists are ordered collections where elements are stored in a specific sequence.
Data retrieval relies on integer-based indexing, starting from 0 for the first element.
To access an element, its numerical position (index) within the list is specified.
Retrieval time can be linear (O(n)) in the worst case for searching for a specific value, as the list might need to be traversed sequentially. Accessing an element by its index is typically constant time (O(1)).
- Dictionaries (Key-Based Retrieval):
Dictionaries are unordered collections of key-value pairs, where each unique key maps to a specific value.
Data retrieval relies on key-based lookup.
To access a value, its associated unique key is provided.
Retrieval time is typically constant on average (O(1)) due to the use of hash tables, allowing for very fast lookups based on the key.

#CODING QUESTIONS
1-Write a code to create a string with your name and print it?

In [ ]:
# Create a string variable
name = "Abhishek Singh Nagarkoti"

# Print the string variable
print(name)

Abhishek Singh Nagarkoti

2-Write a code to find the length of the string "Hello World"

In [ ]:
my_string = "Hello World"
length = len(my_string)
print(length)

11

3-Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
my_string = "Python Programming"
first_three = my_string[:3]
print(first_three)

Pyt

4-Write a code to convert the string "hello" to uppercase

In [ ]:
my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

5-Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)

I like orange

6-Write a code to create a list with numbers 1 to 5 and print it

In [ ]:

my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

7- Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8-Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9-Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

10-Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11-Write a code to create a tuple with the elements 100, 200, 300 and print it

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12-Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

13-Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print(min_number)

5

14-Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

15-Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [ ]:
fruits = ('apple', 'banana', 'cherry')
if "kiwi" in fruits:
    print("kiwi is in the tuple.")
else:
    print("kiwi is not in the tuple.")

kiwi is not in the tuple.

16-Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

17-Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(f"Original set: {my_set}")

my_set.clear()
print(f"Set after clearing: {my_set}")

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

18-Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.discard(4)
print(my_set)

{1, 2, 3}

19-Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

20-Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print(intersection_set)

{2, 3}

21-Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

22-Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'

print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23-Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
my_dict = {'name': 'Alice', 'age': 30}

name_value = my_dict['name']
print(name_value)

Alice

24-Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25-Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
my_dict = {'name': 'Alice', 'city': 'Paris'}

if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26- Write a code to create a list, a tuple, and a dictionary, and print them all

In [ ]:
my_list = [10, 20, 30]
my_tuple = ("apple", "banana", "cherry")
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [10, 20, 30]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

27-Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random
random_list = random.sample(range(1, 101), 5)
random_list.sort()
print(random_list)

[8, 18, 23, 80, 91]

28- Write a code to create a list with strings and print the element at the third index.

In [ ]:
my_list = ["apple", "banana", "cherry", "date"]
print(my_list[2])

cherry

29-Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

merged_dict = dict1 | dict2
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30-Write a code to convert a list of strings into a set.

In [ ]:
my_list = ["apple", "banana", "apple", "cherry"]
my_set = set(my_list)
print(my_set)

{'banana', 'apple', 'cherry'}